/* New Chatogram  */
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  color: white;
  user-select: none;
}

.top__chat {
  background-color: #181818;
  width: 100%;
  height: 226px;
}

/* chat */
.chat {
  width: 100%;
  background: #121212;
  height: 80vh;
}

.chat__join {
  padding: 30px 20px;
  background: black;
  /* fallback for old browsers */
  border-radius: 2px;
  transform: translateY(-100px);
  box-shadow: 0 0px 30px black;
}

.chat__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  transform: translateY(-80px);
  align-items: center;
}

.labal__btn {
  margin: 0;
  cursor: pointer;
}

.bottom__text {
  text-align: center;
}

.chat__logo {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.chat__logo__span {
  display: inline-block;
  margin-right: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: black;
  text-align: center;
  line-height: 40px;
}

.chat__sign {
  margin: -20px 0 15px;
  font-size: 18px;
  font-weight: 700;
  text-align: start;
}

.chat__sign__text {
  margin: 0;
  opacity: 0.7;
}

.input__username-room {
  cursor: pointer;
}

.chat__join_header {
  margin: auto;
  width: 340px;
  text-align: start;
  color: white;
}

.chat__main {
  width: 340px;
  margin: auto;
}

.header_title {
  font-weight: 700;
  font-size: 40px;
  text-shadow: 0 0 5px rgb(1, 210, 247);
}

/* chat__form */
.chat__form {
  margin-top: 30px;
  text-align: center;
}

.header_title_fa {
  color: white;
}

.input__username-label,
.input__username-room {
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-shadow: 0 0 5px black;
  opacity: 0.7;
  cursor: pointer;
  margin: 0;
}

.form__input-username,
.form__input-room {
  text-align: left;
}

.form-control {
  background: transparent;
  border-radius: 0%;
  border: none;
  border-bottom: 1px solid rgb(151, 149, 149);
  margin-bottom: 30px;
  color: #ffffff;
}

.form-control:focus {
  color: #ffffff;
}

.form-control:focus {
  background: transparent;
  border-color: red;
  box-shadow: none;
}

.select__div {
  position: relative;
  display: flex;
}

.select__arrow {
  position: absolute;
  display: block;
  right: 0;
  z-index: 99;
  height: 37px;
  width: 20px;
  line-height: 37px;
  background: black;
  margin: 0;
  cursor: pointer;
}

select {
  cursor: pointer;
}

.form__btn_send {
  display: none;
}

/* Chat.html  */
.chat__second {
  width: 100%;
  min-height: 100vh;
  background: #121212;
  display: flex;
  align-items: center;
}

.chat__join_chat {
  height: 100%;
}

.chat__join__header {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  background: #242323;
}

.chat_exit {
  color: #ffffff;
}

.chat_exit:hover {
  color: red;
}

.chat_main {
  display: flex;
  box-shadow: 0 0px 25px #181818;
  background: #181818;
}

.chat_title_chat {
  font-size: 25px;
  text-shadow: 0 0 5px blue;
  font-weight: 700;
  color: white;
}

.chat_title_chat .far {
  margin-right: 5px;
}

/* chat messages */
.chat__messages {
  padding: 30px;
  max-height: 500px;
  overflow-y: scroll;
  background: rgb(29, 28, 28);
  color: #ffffff;
}

.chat__messages .message {
  padding: 10px;
  margin-bottom: 15px;
  background-color: #2a2a2a;
  border-radius: 5px;
  overflow-wrap: break-word;
}

.chat__messages .message .meta {
  font-size: 15px;
  color: #ffffff;
  opacity: 0.7;
  margin-bottom: 7px;
  position: relative;
}

.chat__sidebar {
  color: white;
  background: transparent;
  /* fallback for old browsers */
  padding: 20px 20px;
  min-height: 300px;
}

.chat__romname,
.chat_users {
  font-size: 18px;
  padding-top: 20px;
  color: #ffffff;
  font-weight: 600;
  opacity: 0.7;
}

.chat__romname .fas {
  margin-right: 10px;
  font-size: 25px;
}

.chat__room_name {
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
}

.chat_userss {
  max-height: 200px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
  list-style: none;
  padding: 0;
  overflow-y: auto;
}

.chat_userss li {
  padding: 5px;
  width: 100%;
  color: white;
}

.chat__form_chat {
  width: 100%;
  display: flex;
  padding: 10px;
  background: rgb(49, 46, 46);
}

.chat__message {
  margin: 0;
}

.chat2__form_btn {
  background: black;
  color: #e2dcdc;
}

.chat2__form_btn:hover {
  color: #ffffff;
}

.chat-form button .fas {
  color: white;
  font-size: 20px;
}

.chat__form_chat button {
  margin-left: 10px;
}

.meta__time {
  position: absolute;
  color: rgb(190, 188, 188);
  right: 0;
  bottom: 0;
  font-weight: 400;
}

.meta__username {
  color: #ffffff;
  font-weight: 600;
  font-size: 25px;
  text-decoration: none;
}

.meta__text {
  color: #ffffff;
}
